@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");

html {
  scroll-behavior: smooth;
}

.ProfileIcon {
  position: absolute;
  top: 0;
  left: -80px;
  height: 85px;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

header {
  position: absolute;
  top: 0;
  left: -80px;
  height: 85px;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

header .Logo {
  display: flex;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.Welcome {
  padding: 1rem 3rem;
  font-size: 1rem;
  border: none;
  color: whitesmoke;
  background: grey;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 50px;
  font-size: 1em;
  letter-spacing: 2px;
  font-weight: 200;
}

.Welcome:hover {
  opacity: 0.6;
  transform: translateX();
  background-color: whitesmoke;
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(#5b6363, #6f7979);
  background-image: url("/Images/Blurred.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

nav {
  position: relative;
  width: 775px;
  height: 55px;
  position: fixed;
  top: 10px;
  background: #474747;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  position: relative;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  padding: 0 23px;
  z-index: 1;
}

nav span {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 100%;
  background: linear-gradient(45deg, #2d3131, #3f3f3f);
  border-radius: 8px;
  transition: 0.5s;
}

nav a:nth-child(1):hover ~ span {
  left: 0;
}

nav a:nth-child(2):hover ~ span {
  left: 88px;
  width: 75px;
}

nav a:nth-child(3):hover ~ span {
  left: 176px;
  width: 85px;
}

nav a:nth-child(4):hover ~ span {
  left: 278px;
  width: 90px;
}

nav a:nth-child(5):hover ~ span {
  left: 387px;
  width: 85px;
}

nav a:nth-child(6):hover ~ span {
  left: 487px;
  width: 83px;
}

nav a:nth-child(7):hover ~ span {
  left: 587px;
  width: 87px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #dad0d0;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}