@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  padding: 0 10px;
  display: flex;
  background: #626cd6;
  justify-content: center;
  align-items: center;
}

.Signup_form {
  width: 100%;
  max-width: 435px;
  background: #fff;
  border-radius: 6px;
  padding: 41px 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.Signup_form h3 {
  font-size: 20px;
  text-align: center;
}

.Signupform .Signup_option {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.Signup_form .Signup_option .option {
  width: calc(100% / 2 - 12px);
}

.Signup_form .Signup_option .option a {
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #f8f8fb;
  border: 1px solid #dadaf2;
  border-radius: 5px;
  margin: 34px 0 24px 0;
  text-decoration: none;
  color: #171645;
  font-weight: 500;
  transition: 0.2s ease;
}

.Signup_form .Signup_option .option a:hover {
  background: #ededf5;
  border-color: #626cd6;
}

.Signup_form .Signup_option .option a img {
  max-width: 25px;
}

.Signup_form p {
  text-align: center;
  font-weight: 500;
}

.Signup_form .separator {
  position: relative;
  margin-bottom: 24px;
}

.Signup_form .separator span {
  background: #fff;
  z-index: 1;
  padding: 0 10px;
  position: relative;
}

.Signup_form .separator::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  height: 1px;
  background: #c2c2c2;
  display: block;
}

form .input_box label {
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
}

form .input_box input {
  width: 100%;
  height: 57px;
  border: 1px solid #dadaf2;
  border-radius: 5px;
  outline: none;
  background: #f8f8fb;
  font-size: 17px;
  padding: 0px 20px;
  margin-bottom: 25px;
  transition: 0.2s ease;
}

form .input_box input:focus {
  border-color: #626cd6;
}

form .input_box .password_title {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

form .input_box {
  position: relative;
}

a {
  text-decoration: none;
  color: #626cd6;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

form button {
  width: 100%;
  height: 56px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #626cd6;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 28px;
  transition: 0.3s ease;
}

form button:hover {
  background: #4954d0;
}
